.player-choice-box{
    flex-shrink: 1;
    height: 150px;
    width: 150px;
}

#winner-box{
    height: 200px;
    width: 200px;
}

#restart-box{
    height: 150px;
    width: 150px;
}

#computer-choice-box{
    height: 150px;
    width: 150px;
}